<div class="hero bg-base-200 flex-grow">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">思い出ダウト！</h1>
      <p class="py-6">
        写真と共に投稿される思い出について、それが本当の話か、それともダウト(作り話)か判定するゲームです</br>
        あの人の意外な一面が見られるかも…？
      </p>
      <div class='text-center'>
        <%= link_to 'さっそく挑戦する', post_path(@random_num), class:"btn btn-primary" %>
      </div>
      <p>or</p>
      <div class='text-center'>
        <%= link_to '思い出を投稿する', new_post_path, class:"btn btn-primary" %>
      </div>
    </div>
  
  </div>
  <%= render 'shared/menu' %>
</div>