<%= turbo_stream.replace "replace" do %>
  
    <p class="mb-8">正解は…</p>
    
    <% if @post.answer %>
      <p class="text-xl mb-8">本当の話！</p>
    <% else %>
      <p class="text-xl mb-8">ダウト(作り話)！</p>
    <% end %>
    
    <p class="answer-comment">
    <%= @post.comment %>
    </p>
    
  <%= link_to "投稿者の情報はこちら", user_path(@post.user), class:"btn btn-secondary" %>

<% end  %>