<div class="container">
  <h1>思い出ダウト！</h1>
  <p><%=  @theme %>にまつわる<%=  @random_post.user.name %>さんの思い出です</p>
  <%=  @random_post.body %>
  <p>この思い出、ほんと？</p>
  <button class="btn btn-primary">ほんと</button>
  <button class="btn btn-primary">ダウト！</button>
</div>