@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
h1 {
  font-size: 30px;
  margin: 20px 0;
}
.top-menu {
  display: flex;
  flex-direction: row-reverse;
  position:fixed;
  top:0;
  right:0;
}

.answer-comment {

}